@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

/* Variáveis */
:root {
  --Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(270, 3%, 87%);
  --Dark-gray: hsl(279, 6%, 55%);
  --Dark-violet: hsl(278, 68%, 11%);
}

/* Padrão */
* {
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.main-container {
  display: flex;
  align-items: center;
}

/* Lado esquerdo */
.left-side {
  min-height: 100vh;
  width: 40%;
  background-image: url("./images/bg-main-desktop.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.cards {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: 100%;
  transform: translate(-50%, -50%);
}

.front-card {
  position: relative;
  transform: translateX(-100px);
}

.card-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#number {
  position: absolute;
  color: var(--White);
  bottom: 5rem;
  left: 1rem;
  letter-spacing: 2px;
}
.card-info {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 3rem;
  display: flex;
  color: var(--White);
  justify-content: space-between;
}

.back-card {
  position: relative;
}

.error {
  border: 2px solid var(--Red);
}

.error-message {
  gap: 0;
}

.error-message::after {
  content: "cant't be blank";
  color: var(--Red);
  margin-top: 0.2rem;
}

#cvc {
  position: absolute;
  right: 3.5rem;
  top: 7rem;
  color: var(--Light-gray);
}

/* Lado direito */
.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.right-side form {
  display: grid;
  gap: 1rem;
  width: 350px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

label {
  color: var(--Dark-violet);
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

input {
  padding: 0.5rem;
  font-size: 18px;
  border: 1px solid var(--Dark-gray);
  border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}
input::placeholder {
  font-family: inherit;
  color: var(--Dark-violet);
}

input:focus {
  outline-color: hsl(249, 99%, 64%);
}

.grid-1 {
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.grid-2 {
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.grid-4 {
  display: flex;
  flex-direction: column;
  grid-column: 1 span;
}

.card-information {
  display: flex;
  grid-column: 2 span;
  gap: 1rem;
}

#card-date {
  display: flex;
  flex-direction: column;
  grid-column: 1 span;
}

#card-date .two-inp {
  display: flex;
}

.two-inp div {
  flex-direction: column;
}

#card-date div input {
  width: 70px;
  margin-inline: 0.5rem;
  margin-left: 0;
}

#card-cvc {
  width: 100%;
}

form button {
  grid-column: 2 span;
  font-size: 18px;
  height: 50px;
  color: var(--White);
  border-radius: 6px;
  background: var(--Dark-violet);
  cursor: pointer;
}

/* Mensagem em caso de envio bem sucedido */
.successful {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.successful h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.successful p {
  font-size: 18px;
  color: var(--Dark-violet);
}

.successful button {
  color: var(--White);
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  font-size: 18px;
  background-color: var(--Dark-violet);
  cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 1023px) {
  .front-card .card-container img,
  .front-card,
  .back-card img,
  .back-card {
    width: 300px;
  }
  .card-logo {
    width: 50px;
  }
  #number {
    font-size: 1.1rem;
  }
  #cvc {
    top: 42%;
    right: 12%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .front-card .card-container img,
  .front-card,
  .back-card img,
  .back-card {
    width: 280px;
  }
  .left-side {
    width: 100%;
    min-height: 30vh;
    background-image: url("./images/bg-main-mobile.png");
  }
  .cards {
    flex-direction: column-reverse;
    left: 61%;
    top: 60%;
    gap: 0;
  }
  .back-card {
    transform: translateY(70px);
  }
  .front-card {
    z-index: 100;
  }
  .right-side {
    margin-top: 6rem;
  }
}
